body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 700; 
}

img {
  max-width: 100%;
  height: auto;
}

.hero-section {
    background-image: url('/static/assests/img/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }

.resume-section {
  background-image: url('/static/assests/img/resume.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.contact-section {
  background-image: url('/static/assests/img/contact.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.contact.container {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
}


html, body {
    height: 100%;
    margin: 0;
  }


.name {
  color: white;
}

.navbar {
    background: rgba(0, 0, 0, 0.5); 
  }

.nav-pills .nav-link {
  color: white;
  }

.nav-link.active, .nav-link:focus {
  background-color: white;
  color: black;
  border-radius: .25rem;
  box-shadow: none;
  }

.nav-link:hover {
  background-color: white;
  color: red;
  }

.hero-content {
  margin-top: 20%;
  margin-right: 27%;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-content h1, .hero-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

  
.hero-content .tagline {
    font-size: 1.5rem;
    font-weight: normal;
  }
  

.social-icon:hover {
  color: #007bff;
}


@media (max-width: 768px) {
  .text h1 {
    font-size: 2rem;
  }
  .text h2, .context h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 300px) { 
  /* your styles here */
  #carouselExampleIndicators {
    aspect-ratio: 3/4;
    
  }
  
  #carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    width: auto;
    height: auto;
    margin-top: 1rem;
  }
  
  .slide {
    height: auto;
    width: auto;
  }
  
  
  .carousel-item {
    text-align: center;
  }
  
  .text {
    margin-left: auto;
  }
  
  .text, .card-text, .context {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .text h1, .text h2 {
    color: #0056b3;
  }
  
  .text h1, .context h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .text h2{
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .text p, .card-text, .context p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill, .frame {
    list-style: none;
    padding: 0;
  }
  
  .skill li, .frame li {
    background: #e7f1ff;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.85rem;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    margin: 0 10px;
    color: #505050;
    font-size: 30px;
    margin-top: 41%;
    justify-content: center;
  }
  
  .text-muted {
    color: black;
    font-size: 0.875rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 767.98px) and (max-width: 1399px) { 
  #carouselExampleIndicators {
    aspect-ratio: 3/4;
    height: auto;
    
  }
  
  #carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    width: auto;
    height: auto;
    margin-top: 1rem;
  }
  
  .slide {
    height: auto;
    width: auto;
  }
  
  .carousel-item {
    text-align: center;

  }
  
  .text {
    margin-left: auto;
  }
  
  .text, .card-text, .context {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .text h1, .text h2 {
    color: #0056b3;
  }
  
  .text h1, .context h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .text h2{
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .text p, .card-text, .context p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill, .frame {
    list-style: none;
    padding: 0;
  }
  
  .skill li, .frame li {
    background: #e7f1ff;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.85rem;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    margin: 0 10px;
    color: #505050;
    font-size: 30px;
    margin-top: 41%;
    justify-content: center;
  }
  
  .text-muted {
    color: black;
    font-size: 0.875rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
  }
}


@media (min-width: 1400px) {
  #carouselExampleIndicators {
    aspect-ratio: 3/4;
    
  }
  
  #carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  
  .slide {
    height: 600px;
    width: auto;
  }
  
  
  .carousel-item {
    text-align: center;
  }
  
  .text {
    margin-left: -180px;
  }
  
  .text, .card-text, .context {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .text h1, .text h2 {
    color: #0056b3;
  }
  
  .text h1, .context h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .text h2{
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .text p, .card-text, .context p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill, .frame {
    list-style: none;
    padding: 0;
  }
  
  .skill li, .frame li {
    background: #e7f1ff;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.85rem;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    margin: 0 10px;
    color: #505050;
    font-size: 30px;
    margin-top: 41%;
    justify-content: center;
  }
  
  .text-muted {
    color: black;
    font-size: 0.875rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
  }
}